@model GomelRectorCouncil.Areas.Admin.ViewModels.CreateUserViewModel
@{
    ViewBag.Title = "Добавление пользователя";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Create" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Имя пользователя</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label">Пароль</label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDate" class="control-label">Дата регистрации</label>
        <input type="date" asp-for="RegistrationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UniversityId" class="col-md-2 control-label">Университет</label>
        <div class="col-md-10">
            <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId"></select>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-default" />
    </div>
</form>
<div>
    <a asp-action="Index">Вернуться</a>
</div>