@model GomelRectorCouncil.Areas.Admin.ViewModels.EditUserViewModel
@{
    ViewBag.Title = "Редактирование пользователя";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="Edit" asp-controller="Home">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label">Имя пользователя</label>
        <input type="text" asp-for="UserName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDate" class="control-label">Дата регистрации</label>
        <input type="date" asp-for="RegistrationDate" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UniversityId" class="control-label col-md-2"></label>
            <select asp-for="UniversityId" class="form-control" asp-items="ViewBag.UniversityId"></select>
            <span asp-validation-for="UniversityId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>